---
layout: darkrooms
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Darkrooms in London for Film Photography</title>
    {% include head.html %}
    <script>
      function shuffle(a) {
          var j, x, i;
          for (i = a.length - 1; i > 0; i--) {
              j = Math.floor(Math.random() * (i + 1));
              x = a[i];
              a[i] = a[j];
              a[j] = x;
          }
        }


      $(function(){
        // randomise darkrooms
        var nDarkrooms = $("#darkroom-list li").length;

        var orderArray = [];
        for (var i = 0; i < nDarkrooms; i++) {
          orderArray[i] = i;
        }
        console.log(orderArray);
        shuffle(orderArray);
        console.log(orderArray);

        $("#darkroom-list li").each(
          function (value, index, array) {
            $(value).css("order", orderArray[index]);
          }
        );
      });
    </script>
  </head>
  <body>
    {% include nav.html %}
    {% assign darkrooms = site.darkrooms | 
      where_exp:"darkroom", "item.categories contains 'darkroom'"  %}
    <div class="content-area">
      <header>
        <h1>There are {{darkrooms | size}} public darkrooms in London.</h1>
      </header>
      <main>
      <ul id="darkroom-list">
        {% for darkroom in darkrooms %}
        <li>
          <a href="{{darkroom.url}}">
            <div class="main-photo">
              <img src="images{{darkroom.id}}.jpg" />
            </div>
            <span class="title">{{darkroom.title}}</span>
            <span class="address-summary">{{darkroom.contact.address-summary}}</span>
            {% if darkroom.darkroom.black-and-white %}
            <span class="black-and-white-printing">
             <img class="printing-icon" src="/icons/black-and-white.svg"/>
              Black & white
            </span>
            {% endif %}
            {% if darkroom.darkroom.colour %}
            <span class="colour-printing">
              <img class="printing-icon" src="/icons/colour.svg"/>
              Colour
            </span>
            {% endif %}
          </a>
        </li>
        {% endfor %}
      </ul>
      </main>
      <footer>
        Spotted a mistake or something missing? Get in touch at
        <a href="mailto:contact@londonfilm.photography">contact@londonfilm.photography</a>.
      </footer>
    </div>
  </body>
</html>
