---
layout: film-labs
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Film Labs in London for Film Development</title>
    {% include head.html %}
    <script>
      function shuffle(a) {
          var j, x, i;
          for (i = a.length - 1; i > 0; i--) {
              j = Math.floor(Math.random() * (i + 1));
              x = a[i];
              a[i] = a[j];
              a[j] = x;
          }
        }


      $(function(){
        // randomise darkrooms
        var nDarkrooms = $("#film-lab-list li").length;

        var orderArray = [];
        for (var i = 0; i < nDarkrooms; i++) {
          orderArray[i] = i;
        }
        console.log(orderArray);
        shuffle(orderArray);
        console.log(orderArray);

        $("#film-lab-list li").each(
          function (value, index, array) {
            $(value).css("order", orderArray[index]);
          }
        );
        
        $(".card a.showhide").on("click", function () {
          $(this).parent().find(".film-dev-full-info").toggleClass("hidden");
        });
        
        if(window.location.hash) {
          $(window.location.hash).find(".film-dev-full-info").removeClass("hidden");
        }
        
      });
    </script>
  </head>
  <body>
    {% include nav.html %}
    {% assign filmlabs = site.film-labs | 
      where_exp:"venue", "venue.categories contains 'film-dev'"  %}
    <div class="content-area">
      <header>
        <h1>There are {{filmlabs | size}} film development and scanning labs in London.</h1>
      </header>
      <main>
      <ul id="film-lab-list">
        {% for lab in filmlabs %}
        <li class="card" id="{{lab.slug}}">
          <a class="showhide" href="#{{lab.slug}}">
            <div class="film-dev-basic-info">
              <div class="name">
                <span class="title">{{lab.title}}</span>
                <span class="address-summary">{{lab.contact.address-summary}}</span>              
              </div>
              <div class="film-types">
                {% if lab.film-dev.dev-types contains "colour" %}
                <span class="colour-printing">
                  <img class="printing-icon" src="/icons/colour.svg"/>
                  Colour (C41)
                </span>
                {% endif %}
                {% if lab.film-dev.dev-types contains "black-and-white" %}
                <span class="black-and-white-printing">
                 <img class="printing-icon" src="/icons/black-and-white.svg"/>
                  Black & white
                </span>
                {% endif %}
                {% if lab.film-dev.dev-types contains "slide" %}
                <span class="colour-printing">
                  <img class="printing-icon" src="/icons/slide.svg"/>
                  Slide (E6)
                </span>
                {% endif %}              
              </div>
              <div class="pricing">
                35mm colour development & scans from 
                <span class="from-price">{{lab.film-dev.pricing.c41-35mm-dev-scan}}</span>
              </div>              
            </div>
          </a>
          <div class="film-dev-full-info hidden">
            <a class="address" href="{{lab.contact.gmaps-link}}"><i class="fas fa-map-pin"></i> {{lab.contact.address}}, London {{lab.contact.postcode}}</a>

            {% if lab.contact.phone %}
            <a class="phone" href="tel:{{lab.contact.phone}}"><i class="fas fa-phone"></i> {{lab.contact.phone}}</a>
            {% endif %}

            <a class="email" href="mailto:{{lab.contact.email}}"><i class="fas fa-envelope"></i> {{lab.contact.email}}</a>
            <a class="official-site" href="{{lab.contact.official-site}}"><i class="fas fa-external-link-alt"></i> Official website</a>

            {% if lab.contact.facebook %}
            <a class="facebook" href="{{lab.contact.facebook}}"><i class="fab fa-facebook"></i> Facebook page</a>
            {% endif %}

            {% if lab.contact.instagram %}
            <a class="instagram" href="{{lab.contact.instagram}}"><i class="fab fa-instagram"></i> Instagram page</a>
            {% endif %}

          </div>
          
        </li>
        {% endfor %}
      </ul>
      </main>
      <footer>
        Spotted a mistake or something missing? Get in touch at
        <a href="mailto:contact@londonfilm.photography">contact@londonfilm.photography</a>.
      </footer>
    </div>
  </body>
</html>
